@media(max-width: 1200px) {
    #fsc_nav{
        display: none;
    }
    #ham_nav{
        display: flex;
    }
    .ham_links a:hover{
        text-decoration: none;
    }
    section{
        padding-top: 1vh;
        height: fit-content;
        margin: 0 7rem;
    }
    #profile{
        width: 50%;
    }
    .profile_backdrop{
        justify-content: center;
        margin: 0;
    }
    .profile_text{
        right: 0;
    }
    .profile_pic img{
        display: none;
    }
    .arrow{
        display: none;
    }
    .about_pic{
        justify-content: center;
    }
    .about_pic img{
        height: 40vh;
        width: 27vh;
        margin-left: 40%;
    }
    .abt-det-containers, .sec_container{
        display: block;
    }
    .educa{
        display: inline-block;
        width: 60%;
    }
    .projectImg{
        height: 30vh;
        width:25vh;
    }
    .pro_1 .article_contain img{
        width: 40vh;
    }
    .pro_3 .article_contain img{
        width: 40vh;
    }
    .article_contain{
        gap:1rem;
    }
    #project{
        padding-top: 1vh;
        height: fit-content;
    }
    .contact_container{
        gap:0;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }
    .contact_info{
        margin:0.25rem;
    }
    .section_icons{
        display: none;
    }
}
@media(max-width: 650px){
    #profile{
        width: 90%;
    }
    section{
        margin:0 1rem;
    }
    .about_pic img{
        margin-left: 25%;
    }
    .abt_text{
        width: 70%;
    }
    .contact_info{
        font-size: smaller;
        gap:5px;
        margin-left: 0;
    }
    .mail{
        height: 3.5rem;
    }
    .pro_1 .article_contain img{
        width: 35vh;
    }
    .pro_3 .article_contain img{
        width: 35vh;
    }
}