*{
    padding: 0;
    margin: 0;
}
body{
    font-family: open sans, Arial, Verdana, Sans-Serif;
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(85,85,85);
}
a, .btn{
    transition: all 300ms ease;
}
nav,
.nav_links,
.sec_container{
    display: flex;
}
.logo{
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}
.logo:hover{
    cursor: default;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav_links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #a5c2ac;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
/* hidden menu */
#ham_nav{
display: none;
}
.ham_menu{
    display: inline-block;
    position: relative;
}
.ham_icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.ham_icon span{
    width: 100%;
    height: 2px;
    transition: all 0.3 ease-in-out ;
    background-color: #a5c2ac ;
}
.ham_links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: beige;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out ;
}
.ham_links a{
    font-size: 1.5rem;
    display: block;
    padding: 8px;
    color: black;
    background-color: white;
    text-decoration: underline;
    transition: all 0.3 ease-in-out;
}
 
.ham_links li{
    list-style: none;
}

.ham_links.open{
    max-height: 400px;
}

.ham_icon.open span:first-child{        /*transition into X*/
    transform: rotate(45deg) translate(10px,5px);
}

.ham_icon.open span:nth-child(2){
    opacity: 0;
}

.ham_icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}
section{
    padding-top: 3vh;
    height: 100vh;
    margin: 0 15rem;
    box-sizing: border-box;
    min-height: fit-content;
}
/* Profile section */
.profile_backdrop{
    position: relative;
}
#profile{
    margin-top: 5vh;
    background-image: url(./images/bgGreen.jpg);
    border-radius: 5px;
    height: 70vh;
    justify-content: center;
    gap: 1rem;
}
.profile_pic{
    position: absolute;
    top: 3vh;
    left: 5vh;   
}
.profile_pic img{
    border-radius: 5px;
    height: 350px;
    width: 400px;
    margin-top: 20px;
    margin-left: 10px;
}
.profile_text{
    align-self: center;
    text-align: center; 
    position: absolute;
    top: 10vh;
    right: 15vh;
}
.p1{
    text-align: center;
}
.p2{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 5px;
}
h1{
    font-size: 3rem;
    text-align: center;
}
.btn_container,.social_container{
    display: flex;
    justify-content: center;
}
.icon{
    margin: 2vh 3vh;
    height: 8vh;
    width: 8vh;
    cursor: pointer;
    background-color: ivory;
    border-radius: 50%;
}
.btn{
    margin: 2vh;
    height: 8vh;
    width: 20vh;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.btn.c2{
    background-color: black;
    color: ivory;
}
.btn.c1{
    background-color: ivory;
}
.btn:hover,.icon:hover{
    background: rgb(85,85,85);
    color: ivory;
}
/* about section */
.about_pic img{
    height: 60vh;
    border-radius: 20px;
    margin-top: 7vh;
    margin-left: 0;
    padding-left: 0;
}
#about{
    padding-top: 7vh;
    position: relative;
}
.section_icons{
    height: 14vh;
    margin-right: 5vh;
}
.abt-container{
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    margin-bottom: 1rem;
}
.abt-det-containers{
    justify-content: center;
    flex-direction: column;
}
.abt-container,
.abt-det-containers{
    display: flex;
}
.det-container{
    text-align: center;
    padding: 1.5rem;
    border: 3px solid #a5c2ac;
    border-radius: 2rem;
    flex: 1;
}
.educa img{
    height: 8vh;
}
.art_img{
    height: 8vh;
}
.educa{
    background-image: url(./images/bgGreen.jpg);
    margin: 5vh;
    margin-top: 8vh;
    margin-bottom: 0vh;
    text-align: center;
    padding: 1rem;
    border: 2px solid #a5c2ac;
    border-radius: 2rem;
    flex: 1;
}
.arrow{
    position: absolute;
    right: -5rem;
    bottom: 0.75rem;
}
.abt_text{
    padding: 1rem;
    color: black;
    font-size: large;
    margin: 2rem;
    margin-top: 0rem;
    width: 85%;
    border: 3px solid #a5c2ac;
    border-radius: 2rem;
}
/* achievement section */
#achieve{
    position: relative;
}
.ach_h2{
    font-weight: 700;
    font-size: 1.75rem;
    color: rgb(60, 60, 60);
    margin-bottom: 1.75rem;
}
.ach-details{
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.article_contain{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around; 
    
}
article{
    display: flex;
    width: 10rem;
    gap: 1rem;
}
.one{
    color: ivory;
    background-image: url(./images/bgGreen.jpg);
}
/* Projects section */
#project{
    padding-top: 7vh;
    position: relative; 
    height: 230vh;
}
.pro_2{
    background-image: url(./images/bgGreen.jpg);
}
.projectImg{
    height: 60vh;
    width: 50vh;
    border-radius: 2rem;
    margin: 1rem;
}
.pro_1, .pro_2{
    flex: 0 0 30%;
}
.pro_3{
    justify-self: center;
    align-self: center;
    flex:0 0 70%;
}
.pro_3 .article_contain img{
    width: 80vh;
}
/* contact section */
#contact{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 55vh;
    align-items: center;
}
.contact_container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 3px solid #a5c2ac;
    gap: 1rem;
    width: 60%;
    margin: 2rem;
    padding: 0.5rem;
}
.contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact_info p{
    font-size: larger;
}
.mail{
    height: 3.9rem;
}
footer{
    font-size: larger;
}
body{
    background-color: ivory;
}